{
	font-family: Tahoma, Verdana, sans-serif;
}
body {
	background-color: rgb(0, 37, 51);
	color: #fff;
}
header {
	margin:30px 0;
}

header h1 {
	text-transform: uppercase;
	font-weight: normal;
	display: inline;
	font-size: 1.7em;
	margin:0;
}

header span {
	color: rgb(0, 171, 230);
}

header nav {
	float: right;

}

header ul {
	list-style: none;
	margin: 10px 0 0 0;
}

header li {
	display: inline;
	margin:0px 8px;
}

header a {
	color: #fff;
	text-decoration: none;
}

.first-element {
	color: rgb(0, 108, 136);
}

.central, main {
	width: 800px;
	margin:0 auto;
}

main {
	background-color: #fff;
	padding-top: 10px;
	color: rgb(0, 37, 51);
	box-sizing: border-box;
}
section {
	margin: 15px;
}
#logo {
	width: 770px;
	position: relative;
	color: #fff;
	margin-bottom: 20px;
}

#logo img {
	width: inherit;
	height: 350px;
}

#logo div {
	position: absolute;
	top: 80px;
	left: 50px;
}

#logo h1 {
	text-transform: uppercase;
	font-size: 4em;
	margin: 0;
	font-weight: normal;
}
#logo p {
	width: 320px;
}

.box {
	float: left;
	width: 246px;
	margin-right: 15px;
	margin-bottom: 10px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 0.7em;
	min-height: 230px;
	position: relative;
}

.box:last-child {
	margin-right: 0;
}

.box h3 {
	margin: 0;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: normal;
}

.box blockquote {
	margin: 0;
	margin-top: 20px;
	font-style: italic;
	font-size: 1.2em;
	background-color: rgb(211, 240, 254);
	padding: 20px;
	width: 200px;
}

.button {
	background-color: rgb(0, 189, 234);
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 1.4em;
	padding: 10px;
	border-radius: 5px;
}

.destaque {
	background-color: rgb(0, 119, 165);
	color: #fff;
}

.col-2 {
	width: 509px;
	float: left;
	padding-top: 15px;
}

.col-2 h3 {
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
}

.col-2 img {
	float: left;
	width: 246px;
	margin-right: 15px;
}

.col-2 p {
	font-size: 0.8em;
}

#nav-bottom {
	background-color: rgb(211, 240, 254);
	clear: left;
	width: inherit;
	box-sizing: border-box;
	
	padding: 5px;
}

#nav-bottom li {
	display: inline;
	list-style: none;
}